.App {
  text-align: center;
}

.totalDivs {
  color: red;
  font-size: 11px;
  padding: 2px;
  background: rgb(36, 36, 36);
  width: 120px;
  margin: 2px;
  text-transform: uppercase;
}

.dashboard {
  background: black;
  padding: 2px;

  button {
    margin: 1px;
  }
}

.cell {
  padding: 6px;
  font-size: 12px;
  color: white;
}

.fval {
  color: white;
  opacity: 0.4;
  background: purple;
  height: 12px;
}
.gval {
  color: white;
  background: green;
  opacity: 0.2;
}
.hval {
  color: white;
  background: blue;
  opacity: 0.1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.gridItem {
  background-image: url("../assets/tile_stone.png");
  // background-size: 50px 50px;
  flex: 1;
  transition: all 0s ease;
}

.waterItem {
  background-image: url("../assets/waterItem0.png");
}

.dirtPatch {
  background-image: url("../assets/dirtPatch.png");
}

.gridItemObstacle0 {
  background-image: url("../assets/wall.png");
  flex: 1;
  // background-size: 100px 100px;
  transition: all 0s ease;
}
.gridItemObstacle1 {
  background-image: url("../assets/tile_wall1.jpg");
  flex: 1;
  background-size: 100px 100px;
  transition: all 0s ease;
}
.gridItemObstacle2 {
  background-image: url("../assets/tile_wall2.jpg");
  flex: 1;
  background-size: 100px 100px;
  transition: all 0s ease;
}
.gridItemObstacle3 {
  background-image: url("../assets/tile_wall3.jpg");
  flex: 1;
  background-size: 100px 100px;
  transition: all 0s ease;
}


@keyframes fade {
  0%,100% { opacity: 0.1 }
  50% { opacity: 0.4 }
}

html {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

body {
  background: #000;
  display: flex;
  align-self: center;
  justify-content: center;
  overflow: hidden;
}

.crosshair {
  cursor: crosshair;
}

.normal {
  cursor: default;
}

.beam {
  width: 100px;
  height: 2px;
  background: red;
  outline: 1px solid #d16543;
  position: absolute;
  top: 90px; left: 21px;
  transform: rotate(90deg);
  transform-origin: 0% 0%;
  animation: test 0.3s infinite;
}

@keyframes test {
  0% { opacity: 0}
  1% { opacity: 1; width: 100px; top: 90px; }
  99% { width: 0px; top: 650px; }
  100% { opacity: 0}
}

.lasersight {
  width: 1000px;
  height: 2px;
  background: transparent;
  opacity: 0.85;
  outline: 1px dotted #d16543;
  position: absolute;
  top: 100px;
  left: 23px;
  transform: rotate(90deg);
  transform-origin: 0% 0%;
}

.tankSight {
  top: 100px;
  left: 21px;
}

.soldierSight {
  outline: 1px dashed yellow;
  position: absolute;
  top: 65px;
  left: 52px;
}

.explosion {
  position: relative;
  width: 100px;
  height: 100px;
  top: 0px;
  left: 0px;
  background-image: url("../assets/explosion.gif");
}

.logo {
  position: absolute;
  top: -200px;
  left: 660px;
  zoom: 0.5;

}

.ground {
  margin-top: 0px;
  outline: 1px solid #000;
  box-shadow: 0px 0px 106px 3px rgba(0,0,0,0.75);
}

button {
  background: #095745;
  color: white;
  border: none;
  margin-right: 10px;
  height: 20px;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

.mainFire {
  animation: shake 0.5s infinite cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
