.App {
  text-align: center; }

.totalDivs {
  color: red;
  font-size: 10px;
  padding: 4px;
  background: black;
  width: calc(100% -1px);
  text-align: center;
  text-transform: uppercase;
  margin: 0px; }

.dashboard {
  position: fixed;
  z-index: 1000;
  top: 20px;
  left: 20px;
  align-items: center;
  justify-content: center;
  zoom: 0.8;
  background: red;
  padding: 2px; }
  .dashboard button {
    width: 100%;
    background: black;
    padding: 2px;
    color: red;
    font-size: 10px;
    outline: 1px solid red; }

.instructions {
  padding-top: 10px;
  text-align: center;
  font-size: 12px; }

.cell {
  padding: 6px;
  font-size: 12px;
  color: white; }

.fval {
  color: white;
  opacity: 0.4;
  background: purple;
  height: 12px; }

.gval {
  color: white;
  background: green;
  opacity: 0.2; }

.hval {
  color: white;
  background: blue;
  opacity: 0.1; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.gridItem {
  background-image: url("../assets/tile_stone.png");
  background-size: 50px 50px;
  flex: 1;
  transition: all 0s ease; }

.waterItem {
  background-image: url("../assets/waterItem0.png"); }

.dirtPatch {
  background-image: url("../assets/dirtPatch.png"); }

.gridItemObstacle0 {
  background-image: url("../assets/wall.png");
  flex: 1;
  background-size: 50px 50px;
  transition: all 0s ease; }

.gridItemObstacle1 {
  background-image: url("../assets/tile_wall1.jpg");
  flex: 1;
  background-size: 50px 50px;
  transition: all 0s ease; }

.gridItemObstacle2 {
  background-image: url("../assets/tile_wall2.jpg");
  flex: 1;
  background-size: 100px 100px;
  transition: all 0s ease; }

.gridItemObstacle3 {
  background-image: url("../assets/tile_wall3.jpg");
  flex: 1;
  background-size: 100px 100px;
  transition: all 0s ease; }

@keyframes fade {
  0%, 100% {
    opacity: 0.1; }
  50% {
    opacity: 0.5; } }

html {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center; }

body {
  background: #000; }

.wrapper {
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px; }

#board {
  display: flex;
  margin-bottom: 100px;
  align-self: center;
  transform: scale(0.2);
  opacity: 0;
  animation: zoomIn 2s ease normal forwards; }

@keyframes zoomIn {
  0% {
    transform: scale(0.2);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

.ground {
  display: flex;
  outline: 1px solid #000; }

.crosshair {
  cursor: crosshair; }

.normal {
  cursor: default; }

.beam {
  width: 50px;
  height: 2px;
  background: red;
  outline: 1px solid #d16543;
  position: absolute;
  top: 90px;
  left: 21px;
  transform: rotate(90deg);
  transform-origin: 0% 0%;
  animation: beamFire 0.3s infinite; }

@keyframes beamFire {
  0% {
    opacity: 0; }
  1% {
    opacity: 1;
    width: 50px;
    top: 90px; }
  99% {
    width: 0px;
    top: 650px; }
  100% {
    opacity: 0; } }

.lasersight {
  width: 1000px;
  height: 2px;
  background: transparent;
  opacity: 0.85;
  outline: 1px dotted #d16543;
  position: absolute;
  top: 100px;
  left: 23px;
  transform: rotate(90deg);
  transform-origin: 0% 0%; }

.tankSight {
  top: 100px;
  left: 21px; }

.soldierSight {
  outline: 1px dashed yellow;
  position: absolute;
  top: 65px;
  left: 52px; }

.explosion {
  position: relative;
  width: 100px;
  height: 100px;
  top: 0px;
  left: 0px;
  background-image: url("../assets/explosion.gif");
  z-index: 10000; }

.logo {
  zoom: 0.5; }

button {
  background: #095745;
  color: white;
  border: none;
  margin-right: 10px;
  height: 20px;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  outline: none; }

.mainFire {
  animation: shake 0.5s infinite cubic-bezier(0.36, 0.07, 0.19, 0.97) both; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
