.unitWrapper {
  position: relative;
  background: rgba(0,0,0,0.1);
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  //animation: rotateUnit 20s infinite;
  border-radius: 100px;
  .unit {
    zoom: 0.08;
    .body {
      width: 100px;
      height: 70px;
      background: #696e77;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: visible;
      .arms {
        display: flex;
        position: absolute;
        flex: 1;
        width: 150px;
        height: 50px;
        background: #4e5e7a;
        flex-direction: row;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-radius: 10px;
        justify-content: space-between;
        .arm {
          display: flex;
          width: 30px;
          height: 50px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          &.left {
            background: #303c51;
            z-index: -1;
          }
          &.right {
            background: #303c51;
            z-index: -1;
          }
        }
      }
      .head {
        position: relative;
        background: #2a477c;
        width: 50px;
        height: 60px;
        border-radius: 10px;
        margin-bottom: -20px;
      }
    }
  }
}

// WALKING ANIMATION
////////////////////////////////////////////////////////
.walking {
  .body {
    animation: walking-body 0.3s infinite;
  }
  .arm.left {
    animation: walking-arm-left 0.3s infinite;
  }
  .arm.right {
    animation: walking-arm-right 0.3s infinite;
  }
  .head {
    animation: walking-head 0.3s infinite;
  }
}

@keyframes walking-body {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@keyframes walking-arm-left {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes walking-arm-right {
  0% {
    margin-top: 20px;
  }
  50% {
    margin-top: 0px;
  }
  100% {
    margin-top: 20px;
  }
}

@keyframes walking-head {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

// SHOOTING ANIMATION
////////////////////////////////////////////////////////
.shooting {
  .body {
    transform: rotate(-30deg);
    animation: shooting-body 0.3s infinite;
  }
  .arm.left {
    margin-top: 40px;
    margin-left: 5px;
    transform: rotate(-20deg);
  }
  .arm.right {
    margin-top: 40px;
    margin-right: 10px;
    transform: rotate(30deg);
  }
  .head {
    transform: rotate(30deg);
    animation: shooting-head 0.2s infinite;
  }
  .gunWrapper {
    position: relative;
    z-index: 0;
    .gun {
      width: 60px;
      height: 70px;
      background: #73757a;
      position: absolute;
      top: 35px;
      left: 40px;
      z-index: -1;
      transform: rotate(-180deg);
      animation: shooting-gun 0.05s infinite;
      .barrel {
        position: absolute;
        width: 30px;
        height: 120px;
        background: #73757a;
        top: -70px;
        left: 15px;
        border-top: 10px solid #93959b;
      }
    }
  }
}

@keyframes shooting-gun {
  0% {
    margin-top: 0px;
  }
  75% {
    margin-top: -5px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes shooting-body {
  0% {
    margin-top: 0px;
  }
  35% {
    margin-top: -15px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes shooting-head {
  0% {
    margin-top: 0px;
  }
  35% {
    margin-top: -5px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes rotateUnit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
