

$zoom: .25;
$head: #000;
$torso: #171719;
$arms: #1f2023;
$arm_lower: #060707;
$legs: #36383d;
$bandana: green;
.main {
  display: flex;
  flex: 1;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  background: #2f2c38;
  background: transparent;
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.15);
  //animation: rotateUnit 20s infinite;
  margin: 10px;

}

.unitWrapper {
  position: absolute;
  background: transparent;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100px;
  .unit {
    zoom: $zoom;
    // transform: rotate(180deg);
    .body {
      width: 100px;
      height: 70px;
      background: $torso;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: visible;
      border-radius: 10px;

      box-shadow: 0px 0px 80px 10px rgba(0,0,0,1);

      transition: all 0.5s ease;

      .arms {
        display: flex;
        position: absolute;
        flex: 1;
        width: 130px;
        height: 50px;
        background: $arms;
        flex-direction: row;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-radius: 10px;
        justify-content: space-between;
        .arm {
          display: flex;
          width: 30px;
          height: 50px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-radius: 10px;
          &.left {
            background: $arm_lower;
            z-index: -1;
          }
          &.right {
            background: $arm_lower;
            z-index: -1;
          }
        }
      }
      .head {
        position: relative;
        background: $head;
        width: 50px;
        height: 60px;
        border-radius: 10px;
        margin-bottom: -20px;
      }
      .bandana {
        position: absolute;
        background: transparent;
        width: 50px;
        height: 45px;
        border-radius: 12px;
        margin-bottom: -20px;
        border: 3px solid $bandana;
        border-bottom: 10px solid $bandana;
        .knot {
          width: 20px;
          height: 20px;
          position: relative;
          background: $bandana;
          border-radius: 10px;
          left: calc(50% - 12px);
          top: - 20px;
          .bowWrapper {
            position: relative;
            left: 5px;
            .bowLeft {
              position: absolute;
              height: 50px;
              width: 10px;
              background: $bandana;
              top: -30px;
              transform: rotate(-10deg);
              z-index: -1;
            }
            .bowRight {
              position: absolute;
              height: 55px;
              width: 10px;
              background: lighten($bandana, 10);
              top: -35px;
              left: 10px;
              transform: rotate(30deg);
            }
          }
        }
      }
    }
  }
}

// DEATH
////////////////////////////////////////////////////////
.dead {
  .body {
    opacity: 0;
    animation: none;
  }
  .gunWrapper {
    opacity: 0;
    animation: none;
  }
  background: rgba(255, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  opacity: 0.7;
  animation: deathAnimation .4s ease-in;
}

@keyframes deathAnimation {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  50% {
    opacity: 0.3;
    transform: scale(0.5, 0.5);
  }
}

//  g POSITION
////////////////////////////////////////////////////////
.unit {
  &.sleeping {
    .head {
      position: relative;
      background: $head;
      width: 50px;
      height: 60px;
      border-radius: 10px;
      margin-top: -220px;
      transform: rotate(5deg);
      border-top: 10px solid $bandana;
    }
    .bandana {
      display: none;
    }
    .body {
      width: 100px;
      height: 140px;
      background: $torso;
      display: flex;
      zoom: .9;
      margin-top: -50px;
      align-items: center;
      justify-content: center;
      overflow: visible;
      .arms {
        display: flex;
        position: absolute;
        flex: 1;
        z-index: 10;
        width: 150px;
        height: 50px;
        background: $arms;
        flex-direction: row;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-radius: 10px;
        margin-top: -50px;
        justify-content: space-between;
        .arm {
          display: flex;
          width: 30px;
          height: 120px;
          margin-top: 20px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          &.left {
            background: $arms;
            z-index: 1;
            margin-left: -10px;
            margin-top: 0px;
            transform: rotate(10deg);
          }
          &.right {
            background: $arms;
            z-index: 1;
            margin-right: -10px;
            margin-top: 0px;
            transform: rotate(-10deg);
          }
        }
      }
      .legs {
        display: flex;
        position: absolute;
        flex: 1;
        width: 100px;
        height: 100px;
        background: transparent;
        flex-direction: row;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-radius: 10px;
        margin-top: 100px;
        justify-content: space-between;
        .leg {
          display: flex;
          width: 40px;
          height: 120px;
          margin-top: 20px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          &.left {
            background: $legs;
            z-index: 1;
            margin-left: -10px;
            margin-top: 0px;
            transform: rotate(10deg);
          }
          &.right {
            background: $legs;
            z-index: 1;
            margin-right: 0px;
            margin-top: 0px;
            transform: rotate(0deg);
          }
        }
      }
    }
  }
}

// WALKING ANIMATION
////////////////////////////////////////////////////////
.walking {
  .body {
    animation: walking-body 0.3s infinite;
  }
  .arm.left {
    animation: walking-arm-left 0.3s infinite;
  }
  .arm.right {
    animation: walking-arm-right 0.3s infinite;
  }
  .head {
    margin-top: -10px;
    animation: walking-head 0.3s infinite;
  }
  .bandana {
    margin-top: 0px;
    animation: walking-head 0.3s infinite;
  }
}

@keyframes walking-body {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@keyframes walking-arm-left {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes walking-arm-right {
  0% {
    margin-top: 20px;
  }
  50% {
    margin-top: 0px;
  }
  100% {
    margin-top: 20px;
  }
}

@keyframes walking-head {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

// JUMPING ANIMATION
////////////////////////////////////////////////////////
.jumping {
  .body {
    animation: jumping-body 0.5s infinite;
  }
  .head {
    animation: jumping-head 0.5s infinite;
  }
}

@keyframes jumping-body {
  0% {
    transform: scale(0.8, 0.8);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes jumping-head {
  0% {
    transform: translate(0, -5px);
  }
  80% {
    transform: translate(0, 2px);
  }
  100% {
    transform: translate(0, 0px);
  }
}



// RUNNING ANIMATION
////////////////////////////////////////////////////////
.running {
  .body {
    animation: running-body 0.5s infinite;
  }
  .arm.left {
    animation: running-arm-left 0.5s infinite;
  }
  .arm.right {
    animation: running-arm-right 0.5s infinite;
  }
  .head {
    margin-top: 10px;
    animation: running-head 0.2s infinite;
  }
  .bandana {
    margin-top: 10px;
    animation: running-head 0.2s infinite;
  }
  .sword {
    visibility: hidden;
  }
}

@keyframes running-body {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@keyframes running-arm-left {
  0% {
    margin-top: -20px;
  }
  50% {
    margin-top: 40px;
  }
  100% {
    margin-top: -20px;
  }
}

@keyframes running-arm-right {
  0% {
    margin-top: 40px;
  }
  50% {
    margin-top: -20px;
  }
  100% {
    margin-top: 40px;
  }
}

@keyframes running-head {
  0% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(4deg);
  }
}

// IDLE ANIMATION
////////////////////////////////////////////////////////
.idle {
  .body {
    animation: idle-body 2s infinite;
  }
  .head {
    margin-top: -10px;
    animation: idle-head 3s infinite;
  }
  .bandana {
    margin-top: 0px;
    animation: idle-head 3s infinite;
  }
}

@keyframes idle-body {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(1px, 1px);
  }
  80% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes idle-head {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(6deg);
  }
  60% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// SHOOTING ANIMATION
////////////////////////////////////////////////////////
.shooting {
  .body {
    transform: rotate(-30deg);
    animation: shooting-body 0.3s infinite;
  }
  .arm.left {
    margin-top: 40px;
    margin-left: 5px;
    transform: rotate(-20deg);
  }
  .arm.right {
    margin-top: 40px;
    margin-right: 10px;
    transform: rotate(30deg);
  }
  .head {
    transform: rotate(30deg);
    animation: shooting-head 0.2s infinite;
  }
  .gunWrapper {
    position: relative;
    z-index: 1;
    .gun {
      width: 60px;
      height: 60px;
      background: #73757a;
      position: absolute;
      top: 45px;
      left: 40px;
      z-index: -1;
      transform: rotate(-180deg);
      animation: shooting-gun 0.1s infinite;
      .barrel {
        position: absolute;
        width: 30px;
        height: 120px;
        background: #73757a;
        top: -70px;
        left: 15px;
        border-top: 10px solid #93959b;
      }
    }
  }
}

@keyframes shooting-gun {
  0% {
    margin-top: 0px;
  }
  75% {
    margin-top: -5px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes shooting-body {
  0% {
    margin-top: 0px;
  }
  35% {
    margin-top: -15px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes shooting-head {
  0% {
    margin-top: 0px;
  }
  35% {
    margin-top: -5px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes rotateUnit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// SWORD

.sword {
position: absolute;
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
margin-top: 500px;
margin-left: 80px;
z-index: 0;
transform: rotate(-50deg);
zoom: 0.2;
.blade,
.blade::before,
.blade::after,
.handle,
.handle::before,
.handle::after,
.guard {
  position: absolute;
}
.blade,
.blade::before,
.blade::after,
.handle,
.handle::before,
.handle::after {
  top: 0;
}
.blade::before,
.blade::after,
.handle::before,
.handle::after {
  content: "";
  display: block;
}
.blade::before,
.blade::after {
  width: 0;
  height: 0;
  border-top-width: 30px;
  border-top-style: solid;
  border-left: 30px solid transparent;
}
.handle,
.handle::before,
.handle::after {
  height: 30px;
}
.handle::before,
.handle::after,
.guard {
  background: #000;
}
.blade {
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-bottom: 4px solid #666;
  width: 450px;
  height: 30px;
  background: #888;
}
.blade::before {
  z-index: -1;
  left: -25px;
  border-top-color: #888;
}
.blade::after {
  z-index: -2;
  left: -30px;
  border-top-color: #666;
}
.handle {
  right: -100px;
  width: 100px;
  border-bottom: 4px solid #000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #000;
}
.guard {
  width: 5px;
  height: 45px;
  top: -7.5px;
  border-radius: 5px;
}
}
