.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.gridItem {
  background-image: url("./grass.jpg");
  background-size: 110px 110px;
  flex: 1;
  transition: all 0s ease;
}
.gridItem:hover {
  /*background:rgba(255,255,255,0.01);*/
}

html {
  height: 100%;
  display: flex;
  justify-content: center;
}

body {
  background: black;
  display: flex;
  align-self: center;
  justify-content: center;
}
